<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
    <style>
        .btn:hover {
            opacity: 0.9;
        }
    </style>
</head>
<body style="font-family: 'Inter', sans-serif; background-color: #f7fafc; margin: 0; padding: 0;">
<div style="max-width: 600px; margin: 0 auto; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="header" style="text-align: left; margin-bottom: 20px;">
        <img src="https://github.com/taskemapp/.github/blob/main/cover-logo-monochrome.png?raw=true" alt="Company Logo"
             style="max-width: 100px;">
        <div class="social-icons" style="text-align: right; float: right;">
            <a href="https://github.com/taskemapp" style="color: #d784f9; text-decoration: none;">
                <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"
                     style="max-width: 100px; width: 30px;" width="30"></a>
        </div>
    </div>

    <h1 style="text-align: center;">Hi, {{ .Name }}!</h1>
    <p style="text-align: center; color: #6b7280; margin-top: 16px;">
        Thank you for registration!
        Please confirm your email by clicking the button below.
    </p>

    <div style="text-align: center; margin-top: 16px;">
        <a href="{{ .ConfirmationLink }}" class="btn"
           style="display: inline-block;
               color: white;
               padding: 12px 24px;
               border-radius: 6px;
               text-decoration: none;
               font-weight: 600;
               text-align: center;
               background-image:
               linear-gradient(25deg, #8612f2, #b254f6, #d784f9, #fc9bff);">
            Confirm Email
        </a>
    </div>

    <p style="text-align: center; color: #6b7280; margin-top: 16px;">
        If the button doesn't work, copy and paste this link into your browser:
    </p>
    <p style="text-align: center; margin-top: 8px;">
        <a href="{{ .ConfirmationLink }}" style="color: #d784f9; text-decoration: none;">{{ .ConfirmationLink }}</a>
    </p>

    <div class="footer" style="text-align: center; margin-top: 32px; font-size: 12px; color: #9ca3af;">
        <p>You received this email because you registered in taskem.<br>
            If you did not do this, please ignore this email.</p>
        <p>If you no longer want to receive emails from us, you can
            <a href="{{ .UnsubscribeLink }}" style="color: #d784f9; text-decoration: none;">unsubscribe</a>
            at any time.</p>
    </div>
</div>

</body>
</html>
